<h1>ARK Survival Evolved Console Command Compiler</h1>

<div class="row">
    <div class="col-md-12">
        <h3>Description</h3>
        <ol>
            <li>Pick The items you want</li>
            <li>Choose how many of each item you want</li>
            <li>Choose the quality of the item</li>
            <li>Copy to your clipboard</li>
            <li> Press " ` " when you are in the game to open the console</li>
            <li>Press "ctrl + v" and hit enter</li>
            <li>Play Ark with all of the gear you want</li>
        </ol>
    </div>
</div>
<h3>Filters</h3>
<div class= "row">
    
   <%= form_for :filter do |f| %>
    <div class= "col-md-2">
        <p>Resources <%= f.check_box :filter%></p>
        <p>Tools <%= f.check_box :filter%></p>
        <p>Ammunition <%= f.check_box :filter%></p>
    </div>
        
    
    <div class= "col-md-2">
        <p>Armor <%= f.check_box :filter%></p>
        <p>Saddles <%= f.check_box :filter%></p>
        <p>Skins <%= f.check_box :filter%></p>
    </div>
    
    <div class= "col-md-2">
        <p>Structures <%= f.check_box :filter%></p>
        <p>Dye <%= f.check_box :filter%></p>
        <p>Artifacts <%= f.check_box :filter%></p>
    </div>
    
    <div class= "col-md-2">
        <p>Consumables <%= f.check_box :filter%></p>
        <p>Recipes <%= f.check_box :filter%></p>
        <p>Trophy <%= f.check_box :filter%></p>
    </div>
    
    <div class= "col-md-2">
        <p>Eggs <%= f.check_box :filter%></p>
        <p>Farming <%= f.check_box :filter%></p>
    </div>
    
    <div class= "col-md-2">
        <p>Seeds <%= f.check_box :filter%></p>
        <p>Weapons and Attachments <%= f.check_box :filter%></p>
    </div>
  <% end %>
    
</div>

<div class= "row">
    <div class= "col-md-4">
        <h3>Loadout</h3>
        <p>This will be the loadout section</p>
        <% @choices.each do |choice|%>
        <% item = @items.where("id = #{choice.item_id}").first%>
        <%= form_for :loadout do |f| %>
        <p><%= item.name %>, quantity: <%= choice.quantity%>, quality: <%= choice.quality %> blueprint: <%= choice.blueprint %> <%=button_to "remove", action: "delete"%></p>
        <% end %>
        <% end %>
    </div>
    <div class= "col-md-8">
        <h3>Items</h3>
        <% @items.each do |item| %>
        <%= form_for :choice do |f|%>
         <p> <%= item.name %> &nbsp quantity: <%= f.number_field :quantity %> quality: <%= f.number_field :quality %>  blueprint: <%= f.check_box :blueprint%> &nbsp <%= f.submit %> </p>
        <% end %>
        <% end %>
    </div>
</div>

