<div class= "jumbotron text-center">
    <h1>ARK Survival Evolved Console Command Compiler</h1>
</div>

<div class="row first">
    <div class="col-md-4">
        <h2>Description</h2>
        <ol>
            <li>Pick The items you want</li>
            <li>Choose how many of each item you want</li>
            <li>Choose the quality of the item</li>
            <li>Copy to your clipboard</li>
            <li> Press " ` " when you are in the game to open the console</li>
            <li>Press "ctrl + v" and hit enter</li>
            <li>Play Ark with all of the gear you want</li>
        </ol>
    </div>
    
    <div class= "col-md-7">
       <h2>Console Entry</h2>
       <textarea id="console_string" rows="7" cols="100"><%= @console_string %></textarea>
       <button class="clipboard-btn btn btn-success" data-clipboard-action="copy" data-clipboard-target="#console_string">
       Copy to clipboard
      </button>
    </div>
</div>

<div class= "row second">
    <div class= "col-md-4">
        <h2>Loadout</h2>
        <% @choices.each do |choice|%>
            <% item = @items.where("id = #{choice.item_id}").first %>
            <%= form_for :choice, html: {class: "form-inline"} do |f| %>
                <div class= "col-2"><%= item.name %></div>
            
                <div class="form-group mx-sm-3 mb-2">
                    <label for="quantity">Quantity</label>
                    <%= f.number_field :quantity, :readonly => true, :value => choice.quantity, class: 'form-control'  %>
                </div>
                
                <div class="form-group mx-sm-3 mb-2">
                    <label for="quality">Quality</label>
                    <%= f.number_field :quality, :readonly => true, :value => choice.quality, in: 1...101, class: 'form-control' %>
                </div>
            
                <div class="form-group mx-sm-3 mb-2">
                    <label for="blueprint">Blueprint:</label>
                    <%= choice.blueprint %>
                </div>
                
                <%= link_to "remove", choice_delete_path(choice), method: :delete, class: 'btn btn-danger' %>
                
            <% end %>
        <% end %>
    </div>
    
    <div class= "col-md-7">
        <h2>Items</h2>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Category
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <% @filters.each do |filter|%>
                    <% unless filter.active == true%>
                      <li role="presentation"><%= link_to filter.name, filter_edit_path(filter), method: :post %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <% if @active_filters.empty? == true %>
            <% @items.each do |item| %>
                <%= form_for :choice, url: choice_new_path, html: {class:"form-inline"}  do |f| %>
                    
                    <p><%= hidden_field_tag 'item_id', item.id %></p> 
                    <div class= "col-2"><%= item.name %> </div>  
                   
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="quantity">Quantity</label>
                        <%= f.number_field :quantity, :value => 1, min: 1, class: 'form-control'  %>
                    </div>
                    
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="quality">Quality</label>
                        <%= f.number_field :quality, :value => 100, in: 1...101, class: 'form-control' %>
                    </div>
                    
                    <div class="form-check form-check-inline blueprint-div">
                        <%= f.check_box :blueprint, id: "blueprint", class:"form-check-input" %>
                        <label class="form-check-label" for="blueprint">
                            Blueprint
                        </label>
                    </div>
                    <%= f.submit "select", class: 'btn btn-success mb-2' %>
                <% end %>
            <% end %>
        <% else%>  
            <% @filtered_items.each do |item| %>
                <%= form_for :choice, url: choice_new_path, html: {class:"form-inline"}  do |f| %>
                   <p><%= hidden_field_tag 'item_id', item.id %></p> 
                   <div class= "col-2"><%= item.name %> </div>  
                   
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="quantity">Quantity</label>
                        <%= f.number_field :quantity, :value => 1, min: 1, class: 'form-control'  %>
                    </div>
                    
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="quality">Quality</label>
                        <%= f.number_field :quality, :value => 100, in: 1...100, class: 'form-control' %>
                    </div>
                    
                    <div class="form-check form-check-inline blueprint-div">
                        <%= f.check_box :blueprint, id: "blueprint", class:"form-check-input" %>
                        <label class="form-check-label" for="blueprint">
                            Blueprint
                        </label>
                    </div>
                    <%= f.submit "select", class: 'btn btn-success mb-2' %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>


